body {
  -webkit-text-size-adjust: 100%;
}

@media #{$medium-up} {
  .sp-nav {
    display: none;
  }
}

@media #{$medium-only} {
  .nav-text {
    display: none;
  }
}

@media #{$small-only} {
  .pc-nav {
    display: none;
  }
}
