
#key-visual {
  min-height: 630px;
  padding-bottom: 20px;
  background: #fafafa;
}
  @media #{$small-only} {
  #key-visual {
    min-height: 400px;
  }
}

#content {
  padding: 40px 0;
}

#entry {
  .btn-entry {
    @include btn-submit($red);
  }
}

// footer
footer {
  padding-top: 10px;
  font-size: .7rem;
  padding-bottom: 40px;
  li {
    float: left;
    margin-right: 20px;
  }
  .copyright {
    text-align: right;
  }
}

